extends layout

block content
  .content-grid.mdl-grid
    .mdl-cell.mdl-cell--4-col.mdl-cell--4-offset
      h2 Sign Up
      form.form-login(action="/users/signup", method="post")
        input.input-username.mdl-textfield__input(type="text", name="username", placeholder="Username")
        input.input-email.mdl-textfield__input(type="text", name="email", placeholder="Email address")
        input.input-password.mdl-textfield__input(type="text", name="password", placeholder="Password")
        button.btn-submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") Log in
